# Built application files
*.apk
*.aab

# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Android Studio
.idea/
*.iml

# Keystore files
*.jks
*.keystore

# App signing keys
app-release-key.jks
app-debug-key.jks
key.properties
keystore.properties
signing.properties
KEY/
KEY/appkey
# KEY 폴더 전체를 ignore

# OS files
.DS_Store

# Android NDK/CMake build files
app/.cxx/
app/build/
*.so
*.o

# Gradle build cache
.gradle/*/executionHistory/
.gradle/*/fileHashes/
.gradle/buildOutputCleanup/
.gradle/file-system.probe