# 같은 사람이 커밋 저자명을 3가지로 남겨(Kim Tae Hwan / INI-K / TaeHwan Kim)
# GitHub 기여자 목록과 git shortlog 가 갈라져 보였다. 이메일이 같으므로 표기만 통일한다.
# 저작 이력이 한 사람으로 모여야 저작 증명에 쓸 수 있다.
Kim Tae Hwan <annette57@naver.com> INI-K <annette57@naver.com>
Kim Tae Hwan <annette57@naver.com> TaeHwan Kim <annette57@naver.com>
